# Data Exploration

In [ ]:
import pandas as pd
import numpy as np

In [3]:
# Read the dataset into a pandas DataFrame
data = pd.read_csv('../data/cleaned/cleaned_data.csv')
display(data)

,event_id,year,country,city,region,attack_type,target_type,weapon_type,group_name,number_killed,number_wounded
0,197000000001,1970,Dominican Republic,Santo Domingo,Central America & Caribbean,Assassination,Private Citizens & Property,Unknown,MANO-D,1,0
1,197000000002,1970,Mexico,Mexico city,North America,Hostage Taking (Kidnapping),Government (Diplomatic),Unknown,23rd of September Communist League,0,0
2,197001000001,1970,Philippines,Unknown,Southeast Asia,Assassination,Journalists & Media,Unknown,Unknown,1,0
3,197001000002,1970,Greece,Athens,Western Europe,Bombing/Explosion,Government (Diplomatic),Explosives,Unknown,0,0
4,197001000003,1970,Japan,Fukouka,East Asia,Facility/Infrastructure Attack,Government (Diplomatic),Incendiary,Unknown,0,0
...,...,...,...,...,...,...,...,...,...,...,...
209701,202012310015,2020,Yemen,Sabaa,Middle East & North Africa,Bombing/Explosion,Private Citizens & Property,Explosives,Houthi extremists (Ansar Allah),0,0
209702,202012310016,2020,Yemen,Beit Maghari,Middle East & North Africa,Bombing/Explosion,Private Citizens & Property,Explosives,Houthi extremists (Ansar Allah),0,0
209703,202012310017,2020,Germany,Leipzig,Western Europe,Facility/Infrastructure Attack,Military,Incendiary,Left-wing extremists,0,0
209704,202012310018,2020,Afghanistan,Kabul,South Asia,Armed Assault,Private Citizens & Property,Firearms,Unknown,1,0
209705,202012310019,2020,Burkina Faso,Kelbo,Sub-Saharan Africa,Armed Assault,Military,Firearms,Unknown,5,0

## Research Question 1: How has the frequency of terrorist attacks changed over time?

In [13]:
attacks_by_year = data.groupby('year').size()
attacks_by_year_df = pd.DataFrame(attacks_by_year, columns=['Number of Attacks'])
display(attacks_by_year_df)

      Number of Attacks
year
1970                651
1971                471
1972                567
1973                473
1974                581
1975                740
1976                923
1977               1319
1978               1526
1979               2662
1980               2661
1981               2586
1982               2543
1983               2870
1984               3495
1985               2914
1986               2860
1987               3183
1988               3720
1989               4324
1990               3886
1991               4685
1992               5071
1994               3456
1995               3081
1996               3058
1997               3198
1998                934
1999               1396
2000               1823
2001               1912
2002               1330
2003               1280
2004               1164
2005               2017
2006               2757
2007               3250
2008               4801
2009               4723
2010               4827
2011               5075
2012               8525
2013              12047
2014              16960
2015              15138
2016              14051
2017              11364
2018               9853
2019               8537
2020               8438

## Research Question 2: Which countries have experienced the highest number of terrorist incidents?

In [17]:
incidents_by_country = data['country'].value_counts()
print(incidents_by_country.head())

country
Iraq           27521
Afghanistan    18920
Pakistan       15504
India          13929
Colombia        8915
Name: count, dtype: int64

## Research Question 3: What were the most common types of terrorist attacks?

In [6]:
common_attack_types = data['attack_type'].value_counts()
print(common_attack_types)

attack_type
Bombing/Explosion                      98158
Armed Assault                          49553
Assassination                          21539
Hostage Taking (Kidnapping)            14045
Facility/Infrastructure Attack         12325
Unknown                                10942
Unarmed Assault                         1229
Hostage Taking (Barricade Incident)     1156
Hijacking                                759
Name: count, dtype: int64

## Research Question 4: How have terrorist attack varied by weapon type across regions?

In [8]:
attacks_by_region_weapon = data.groupby(['region', 'weapon_type']).size()
display(attacks_by_region_weapon)

region                 weapon_type
Australasia & Oceania  Chemical                                                                        10
                       Explosives                                                                      79
                       Firearms                                                                        76
                       Incendiary                                                                     115
                       Melee                                                                           12
                                                                                                     ...
Western Europe         Other                                                                           23
                       Radiological                                                                     2
                       Sabotage Equipment                                                              17
                       Unknown                                                                        837
                       Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)     27
Length: 122, dtype: int64

## Research Question 5: What Are the Most Common Target Types in Terrorist Attacks?

In [9]:
common_target_types = data['target_type'].value_counts()
print(common_target_types)

target_type
Private Citizens & Property       51985
Military                          34131
Police                            28568
Government (General)              23828
Business                          22169
Unknown                            7174
Transportation                     7173
Utilities                          6328
Religious Figures/Institutions     5107
Educational Institution            4761
Government (Diplomatic)            3802
Terrorists/Non-State Militia       3775
Journalists & Media                3313
Violent Political Party            2079
Airports & Aircraft                1428
Telecommunication                  1275
NGO                                1128
Tourists                            460
Maritime                            406
Food or Water Supply                352
Abortion Related                    267
Other                               197
Name: count, dtype: int64